<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pinkplastics.treesim" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BuilderChoice"
            android:label="@string/title_activity_builder_choice"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pinkplastics.treesim.MainActivity" />
        </activity>
        <activity
            android:name=".LinkedListSimulation"
            android:label="@string/title_activity_linked_list_simulation"
            android:parentActivityName=".BuilderChoice" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pinkplastics.treesim.BuilderChoice" />
        </activity>
        <activity
            android:name=".DemoChoice"
            android:label="@string/title_activity_demo_choice"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pinkplastics.treesim.MainActivity" />
        </activity>
        <activity
            android:name=".PreorderTraversalSimulation"
            android:label="@string/title_activity_preorder_traversal_simulation"
            android:parentActivityName=".DemoChoice" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pinkplastics.treesim.DemoChoice" />
        </activity>
        <activity
            android:name=".InorderTraversalSimulation"
            android:label="@string/title_activity_inorder_traversal_simulation"
            android:parentActivityName=".DemoChoice" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pinkplastics.treesim.DemoChoice" />
        </activity>
        <activity
            android:name=".PostorderTraversalSimulation"
            android:label="@string/title_activity_postorder_traversal_simulation"
            android:parentActivityName=".DemoChoice" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pinkplastics.treesim.DemoChoice" />
        </activity>
        <activity
            android:name=".BinaryTreeSimulation"
            android:label="@string/title_activity_binary_tree_simulation"
            android:parentActivityName=".BuilderChoice" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pinkplastics.treesim.BuilderChoice" />
        </activity>
    </application>

</manifest>
